PROMPT_COMMAND=${PROMPT_COMMAND%:__vte_prompt_command/}

# Docker variables
#POSTGRES_USER=
#POSTGRES_PASSWORD=
#POSTGRES_DB=

# Django variables
#DJANGO_VW_TYPE2_ID_SECRET_KEY=
#DATABASE_URL=
#DJANGO_VW_TYPE2_EMAIL=
DJANGO_DEBUG=0
DJANGO_LOG_LEVEL=INFO
