[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
gunicorn = "*"
ipython = "*"
pytest-django = "*"
pytest = "*"
selenium = "*"
pyvirtualdisplay = "*"
coverage = "*"
pylint = "*"

[packages]
django = "==2.2.8"
django-crispy-forms = "*"
lxml = "*"
pillow = "*"
django-environ = "*"
django-inline-svg = "*"
isoweek = "*"
django-fullurl = "*"
django-markdownify = "*"

[requires]
python_version = "3.6"
