[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
gunicorn = "*"
ipython = "*"
pytest-django = "*"
pytest = "*"
selenium = "*"
pyvirtualdisplay = "*"
coverage = "*"
pylint = "*"
unittest-xml-reporting = "*"
pylint-django = "*"

[packages]
django = "*"
django-crispy-forms = "*"
lxml = "*"
pillow = "*"
django-environ = "*"
django-inline-svg = "*"
isoweek = "*"
django-fullurl = "*"
django-markdownify = "*"
django-crum = "*"
dj-database-url = "*"
psycopg2 = "*"

[requires]
python_version = "3.8"
