{% extends "mplate_base_bootstrap.html" %}
{% load i18n %}

{% block meta %}
{% trans "Internal error" as title %}
{% include "head_meta.html" with noindex=True %}
{% endblock %}

{% block content %}

<div class="row mt-4">
  <div class="col">

    <h2>Internal error</h2>

    <p>Oops. This shouldn't have happened.</p>

    <p>The M-Plate decoder is still in development. We've recorded this error and we'll try to fix it as soon as possible.
    Optionally, you can also let us know by <a href="/mplate/about/#contact">getting in touch</a>. Thanks!</p>
  </div>
</div>

{% endblock %}