{% extends "mplate_base_bootstrap.html" %}

{% block content %}

<p class="lead">
  The M-plate is one of the identification plates found on VW busses. 
  Short for <em>Mehraustattung</em> (optional extras in German), it contains
  production codes with information about...
</p>

<h2>Find it</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui ut
ornare lectus. Est lorem ipsum dolor sit amet consectetur adipiscing
elit pellentesque. Nulla facilisi etiam dignissim diam quis enim 
lobortis scelerisque. Ut tellus elementum sagittis vitae et leo. 
Etiam sit amet nisl purus in mollis nunc sed.
</p>

<h2>Decode it</h2>

<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
tempor incididunt ut labore et dolore magna aliqua. Tincidunt dui ut
ornare lectus. Est lorem ipsum dolor sit amet consectetur adipiscing
elit pellentesque. Nulla facilisi etiam dignissim diam quis enim 
lobortis scelerisque. Ut tellus elementum sagittis vitae et leo. 
Etiam sit amet nisl purus in mollis nunc sed.
</p>
<p>
<a class="btn btn-secondary" href="/mplate/create" role="button">Decode &raquo;</a>

</p>

<h2>Recent M-Plate submissions</h2>
    <ul>
        {% for mplate in object_list %}
            <li><a href="{{ mplate.get_absolute_url }}">{{ mplate.chassis_number_short }}</a> · <a class="btn btn-secondary btn-sm mt-1" href="{{ mplate.get_absolute_url }}/delete" role="button">Delete</a></li>
        {% endfor %}
    </ul>

{% endblock %}