{% extends "mplate_base_bootstrap.html" %}

{% block content %}

<div class="row">
  <div class="col my-5">

    <h2 class="mb-4">My M-plates</h2>
      <div class="table-responsive">
        <table class="table table-hover">
          <tr>
            <th><strong>{{ 'M-plate ID'|upper }}</strong></th> 
            <th><strong>{{ 'Model year'|upper }}</strong></th>
            <th><strong>{{ 'Actions'|upper }}</strong></th>            
          </tr>
    {% if mplate_list %}
      {% for mplate in mplate_list %}
          <tr>
            <td><a href="{% url 'mplate_decoder:mplate_retrieve' mplate.chassis_number_short %}">{{ mplate.chassis_number_short }}</a></td>
            <td>{{ mplate.model_year }}</td>
            <td>
              <a class="btn btn-primary btn-sm" role="button" href="{% url 'mplate_decoder:mplate_update' mplate.chassis_number_short %}">Edit</a>
              <a class="btn btn-outline-danger btn-sm" role="button" href="{% url 'mplate_decoder:mplate_delete' mplate.chassis_number_short %}">Delete</a>
             </td>
          </tr>
      {% endfor %}
    {% else %}
          <tr>
            <td>N/A</td>
            <td>N/A</td>
            <td>N/A</td>
          </tr>
    {% endif %}
        </table>
      </div>
  </div>
</div>

{% endblock %}