{% extends "mplate_base_bootstrap.html" %}
{% load i18n %}

{% block meta %}
{% trans "Delete M-plate" as title %}
{% include "head_meta.html" with noindex=True %}
{% endblock %}

{% block content %}

<div class="row mt-4">
<div class="col">
<h1>{% trans "Delete M-plate" %}</h1>

<p>{% blocktrans %}Are you sure you want to delete M-plate {{ mplate.chassis_number_short }}?{% endblocktrans %}</p>

<form action="" method="POST">
  {% csrf_token %}
  <button type="submit" class="btn btn-primary">{% trans "Yes, delete it" %}</button>
</form>
</div>
</div>

{% endblock %}